pid_file: "/var/run/nats/nats.pid"

http_port: 8222

debug: $DEBUG

# Cluster Seed Node

listen: 127.0.0.1:4222
http: 8222

jetstream {
    store_dir: /data
    max_mem: 1G
    max_file: 100G
}

cluster {
  name: C1
  
  port: 6222
  
  #listen: 127.0.0.1:4248
  
  connect_retries: 30

  routes = [
    nats://nats1:6222
    nats://nats2:6222
    nats://nats3:6222
  ]

  #pool_size: 3

  no_advertise: true
}

leafnodes {
    port: 7422
}